*{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5
}
.main{
    /* position: relative; */
    background-color: #FCFCFC;
    max-width: 66.5rem;
    min-width: 66.5rem;
    min-height: 34.7rem;
    border-radius: 2.1rem;
    box-shadow: 0px 2rem 2rem -1rem rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.7rem 2rem;
}
.image{
    /* position: absolute; */
    /* left: -50px; */
    margin: 0 4rem 0 -9rem;
    width: 27.8rem;
    height: 29.3rem;

}
.text{
    padding: 0 3.7rem 0 0;
}
h1{
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1.4rem;
}
hr{
    margin: 0 0 1.5rem 0;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2rem 0 0;
    min-width: 400px;
    /* background-color: red; */
}
.quest-title{
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2rem;
    margin: 0 4rem 1rem 0;
}
.show{
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0 8rem 0 0;

    margin: 0rem 0 0 0 ;
    animation-name: open;
    animation-duration: 1.2s;
    margin-bottom: 1rem;
    
}

.hide{
    opacity: 0;
    animation-name: close;
    animation-duration: 1s;
    /* display: none; */

}

@keyframes open {
    from{ 
        margin-top: -40px;
        opacity: 0;
    }
    to{
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes close {
    from{ 
        margin-top: 5rem;
    }
    to{
        margin-top: 0rem;
    }
}

@media (max-width: 768px){
    body{
        padding: 3rem;
    }
    .main{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-width: auto;
        gap: 2rem;
    }
    .question{
        min-width: auto;
        max-width: 30rem;
        margin: auto;
    }
    .image{
        margin: 0;
    }
    .text{ 
        max-width: 30rem;
        padding: 0;
    }
    h1{
        text-align: center;
    }
    .show{ 
        padding: 0;
    }
}