.black{
    width: 100px;
    height: 100px;
    background-color: black;
}
.blue{
    width: 100px;
    height: 100px;
    background-color: blue;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}